<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gehen.recog_face.test" >

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="25" />

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for gehen.recog_face"
        android:targetPackage="gehen.recog_face" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>